{% extends 'base.html.twig' %}

{% block title %}Accueil SoresFarm{% endblock %}

{% block monTitre %}
Page d'accueil
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Félicitation!</h4>
    <p class="mb-0">{{message}}</p>
  </div>
{% endfor %}
{% endblock %}
