.form_produit{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.formated-picture{
  height: 170px;
  width: 170px;
}

.price{
  font-size: large;
  font-weight: bold;
}
