<footer class="footer">
  <div class="footer__assurance">
    <ul class="footer__assurance__list">
      <li class="footer__assurance__item">
        <span style="font-size: 48px; padding-right: 10px;">
          <i class="fas fa-apple-alt"></i>
        </span>
        <span class="footer__assurance__item__text">
        Produits
        <br>
        extra-frais
        </span>
      </li>
      <li class="footer__assurance__item">
        <span style="font-size: 48px; padding-right: 10px;">
          <i class="fas fa-truck"></i>
        </span>
        <span class="footer__assurance__item__text">
        Livraison
        <br>
        incluse
        </span>
      </li>
      <li class="footer__assurance__item">
        <span style="font-size: 48px; padding-right: 10px;">
          <i class="fas fa-user-tie"></i>
        </span>
        <span class="footer__assurance__item__text">
        Un service client
        <br>
        à votre écoute
        </span>
      </li>
      <li class="footer__assurance__item">
        <span style="font-size: 48px; padding-right: 10px;">
          <i class="fab fa-cc-visa"></i>
        </span>
        <span class="footer__assurance__item__text">
        Paiement
        <br>
        par CB sécurisé
        </span>
      </li>
      <li class="footer__assurance__item">
        <span style="font-size: 48px; padding-right: 10px;">
          <i class="fas fa-ticket-alt"></i>
        </span>
        <span class="footer__assurance__item__text">
        Tickets restaurants
        <br>
        acceptés
        </span>
      </li>
    </ul>
  </div>
  <div class="footer__alllinks">
    <div class="footer__alllinks__row">
      <div class="footer__alllinks__col">
        <p class="footer__alllinks__title">
          Comment ça marche ?
        </p>
        <ul class="footer__alllinks_list">
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Qui sommes-nous ?</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Nos points de retrait</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Notre mission</a>
          </li>
        </ul>
      </div>
      <div class="footer__alllinks__col">
        <p class="footer__alllinks__title">
          Contenus
        </p>
        <ul class="footer__alllinks_list">
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Tous les contenus</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Nos recettes</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Nos producteurs</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Nos articles</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Nos produits</a>
          </li>
        </ul>
      </div>
      <div class="footer__alllinks__col">
        <p class="footer__alllinks__title">
          Offres entreprises
        </p>
        <ul class="footer__alllinks_list">
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Toutes nos offres</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Box de fruit & légumes livrées au bureau</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Fruits à consommer au bureau</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Pack PME</a>
          </li>
          <li class="footer__alllinks__list__item">
            <a href="" class="footer__alllinks__list__item__link">Ils nous font confiance</a>
          </li>
        </ul>
      </div>
      <div class="footer__alllinks__col">
        <div class="footer__alllinks__col__sub">
          <p class="footer__alllinks__title">
            Nous rejoindre
          </p>
          <ul class="footer__alllinks_list">
            <li class="footer__alllinks__list__item">
              <a href="" class="footer__alllinks__list__item__link">Devenir point de retrait</a>
            </li>
            <li class="footer__alllinks__list__item">
              <a href="" class="footer__alllinks__list__item__link">Nos métiers</a>
            </li>
            <li class="footer__alllinks__list__item">
              <a href="" class="footer__alllinks__list__item__link">Jobs</a>
            </li>
          </ul>
        </div>
        <div class="footer__alllinks__col__sub">
          <p class="footer__alllinks__title">
            Service client
          </p>
          <ul class="footer__alllinks_list">
            <li class="footer__alllinks__list__item">
              <a href="" class="footer__alllinks__list__item__link">Nous contacter</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer__alllinks__col">
        <p class="footer__alllinks__title">
          Suivez-nous sur
        </p>
        <ul class="footer__social">
          <li class="footer__social__item">
            <span style="font-size: 30px; padding-right: 10px;">
              <a href="" class="footer__social__item__link"><i class="fab fa-facebook-f"></i></a>
            </span>
          </li>
          <li class="footer__social__item">
            <span style="font-size: 30px; padding-right: 10px;">
              <a href="" class="footer__social__item__link"><i class="fab fa-twitter"></i></a>
            </span>
          </li>
          <li class="footer__social__item">
            <span style="font-size: 30px; padding-right: 10px;">
              <a href="" class="footer__social__item__link"><i class="fab fa-instagram"></i></a>
            </span>
          </li>
        </ul>
      </div>
      <div class="footer__alllinks__col">
        <p class="footer__alllinks__title">
          Téléchargez l'app
        </p>
        <ul>
          <li><a href="" class="footer__alllinks__app--apple"><img class="footer-img-app-down-apple" src="{{asset('pictures/app-store.png')}}"></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
